/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}

//
// Pipeline options
//

process {

    withName: 'FASTQSCAN_RAW' {
        ext.prefix = { "${meta.id}.raw" }
        publishDir = [
            path: { "${params.outdir}/fastqscan/raw" },
            mode: params.publish_dir_mode,
            pattern: '*.json'
        ]
    }

    withName: 'FASTQSCANPARSE_RAW' {
        ext.prefix = { "raw" }
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
}

if (!params.skip_fastqc) {
    process {
        withName: '.*:.*:FASTQC_FASTP:FASTQC_RAW' {
            ext.args = '--quiet'
            publishDir = [
                path: { "${params.outdir}/fastqc/raw" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
}

if (!params.skip_fastp) {
    process {
        withName: 'FASTP' {
            ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
            publishDir = [
                [
                    path: { "${params.outdir}/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "*.{json,html}"
                ],
                [
                    path: { "${params.outdir}/fastp/trimmed" },
                    mode: params.publish_dir_mode,
                    pattern: "*.trim.fastq.gz"
                ],
                [
                    path: { "${params.outdir}/fastp/log" },
                    mode: params.publish_dir_mode,
                    pattern: "*.log"
                ],
                [
                    path: { "${params.outdir}/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "*.fail.fastq.gz",
                    enabled: params.save_trimmed_fail
                ]
            ]
        }

        withName: 'MULTIQC_TSV_FAIL_READS' {
            publishDir = [
                path: { "${params.outdir}/multiqc" },
                enabled: false
            ]
        }
    }

    if (!params.skip_fastqc) {
        process {
            withName: '.*:.*:FASTQC_FASTP:FASTQC_TRIM' {
                ext.args = '--quiet'
                publishDir = [
                    path: { "${params.outdir}/fastqc/trim" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}

process {
    withName: 'FASTQSCAN_TRIM' {
        ext.prefix = { "${meta.id}.trim" }
        publishDir = [
            path: { "${params.outdir}/fastqscan/trimmed" },
            mode: params.publish_dir_mode,
            pattern: '*.json'
        ]
    }

    withName: 'FASTQSCANPARSE_TRIM' {
        ext.prefix = { "trim" }
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
    
    withName: 'READ_STATS' {
        publishDir = [
            path: { "${params.outdir}/read_stats" },
            mode: params.publish_dir_mode,
            pattern: '*.csv'
        ]
    }

    withName: 'READSTATS_PARSE' {
        publishDir = [
            path: { "${params.outdir}/read_stats" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
    
    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = '--report-zero-counts'
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,out}'
        ]
    }

    withName: 'KRAKENTOOLS_EXTRACT' {
        ext.args = '--include-children --fastq-output'
        publishDir = [
            path: { "${params.outdir}/extracted_reads" },
            mode: params.publish_dir_mode,
            pattern: '*.extracted.fastq.gz'
        ]
    }

    withName: 'BRACKEN_BRACKEN' {
        ext.args = '-l S -t 10'
        publishDir = [
            path: { "${params.outdir}/bracken" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'KRAKENPARSE' {
        publishDir = [
            path: { "${params.outdir}/species_composition" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'MULTIQC' {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: 'multiqc*'
        ]
    }
}