/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = 'file_ext' and value = 'directory' to publish results for that file extension
 *                        The value of 'directory' is appended to the standard 'publish_dir' path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'fastqc_raw' {
            args            = '--quiet'
            publish_dir     = 'fastqc/raw'
        }
        'fastqc_trim' {
            args            = '--quiet'
            publish_dir     = 'fastqc/trim'
        }
        'fastp' {
            args            = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
            publish_files   = ['json':'', 'html':'', 'log': 'log']
            publish_dir     = 'fastp'
        }
        'kraken2_run' {
            args            = '--report-zero-counts'
            publish_files   = ['txt':'']
            publish_dir     = 'kraken2'
        }
        'bracken' {
            args            = '-l S -t 10'
            publish_files   = ['txt':'']
            publish_dir     = 'bracken'
        }
        'multiqc' {
            args            = ''
            publish_files   = ['_data':'multiqc', 'html':'multiqc']
        }
        'krakenparse' {
            args            = ''
            publish_files   = ['composition':'']
        }
    }
}