/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run avantonder/bacQC -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  max_cpus = 24
  max_memory = 60.GB
  max_time = 2.h

  single_end = false
  
  //input_paths = [
    //['Testdata', ['https://github.com/avantonder/bacQC/tree/main/test-datasets/SRR11090462_sub_1.fastq.gz', 'https://github.com/avantonder/bacQC/tree/main/test-datasets/SRR11090462_sub_2.fastq.gz']],
  //]
}
