/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run avantonder/bacQC -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  
  input = '/Users/avt/Documents/HPC/Pipelines/bacQC/test-datasets/samplesheet.csv'
  
  max_cpus = 8
  max_memory = 16.GB
  max_time = 2.h
}
